####################################
# Eclipse (incluye m2e / WTP)
####################################
.project
.classpath
.settings/
.metadata/
.recommenders/
.factorypath

####################################
# Java / Maven
####################################
# Compilados
*.class
*.log

# Maven build output
**/target/

# Archivos de release/backup de Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

####################################
# Vue / Nuxt / Node
####################################
# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.tsbuildinfo

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local
.vscode/
.env
.env.*
!.env.example

####################################
# Claude Code
####################################
CLAUDE.md
.claude/
notas.txt
